@{
    ViewBag.Title = "Bright World | About Us";
}

<link href="~/Content/Css_Js/Css/AboutUs.css" rel="stylesheet" />
@section IconPage {
    <i class="fas fa-users"></i>
    <p>About Us</p>
}

<!-- Conten -->
<main class="main_padding">
    <img class="About_Banner" src="~/Content/Img/Genneral/About_Hero_Img.png">
    <div class="container">
        <div class="About_Top row">
            <div class="About_Top-Header col-12">
                <h2>Bright World is the world leader in lighting</h2>
                <h6>Launched in 2015, BrightWorld was built to provide high quality LED black products at reasonable prices to users</h6>
                <h6>We strongly believe that LED technology is the future of the entire lighting industry. This belief inspires and drives us every day at BrightWorld.</h6>
            </div>
            <div class="About_Top-Conten col-12 col-md-6 col-lg-4">
                <h3>Our target</h3>
                <p>We truly believe in the evolving power of technology and wish to contribute to making the world a better place by connecting the community of buyers and brands to bring the best quality products at affordable prices. the most reasonable</p>
            </div>
            <div class="About_Top-Conten Mid col-12 col-md-6 col-lg-4">
                <h3>Our Location</h3>
                <p>BrightWorld offers an integrated shopping experience with a wide range of products, dynamic and seamless support services. Discount programs help shoppers access the brand</p>
            </div>
            <div class="About_Top-Conten col-12 col-md-12 col-lg-4">
                <h3>My Method of We</h3>
                <p>To define who we are - through words or behavior in many different situations - we are, in essence, Close, Joyful and Agreed. These are the main and outstanding features in each step of BrightWorld's development</p>
            </div>
        </div>
        <div class="About_Mid row">
            <div class="About_Mid-Header col-12">
                <h3>Come with us</h3>
            </div>
            <div class="About_Mid-Conten col-12 col-md-4">
                <img src="~/Content/Img/Genneral/About_Img1.png">
                <h5>Close</h5>
                <h6>We believe in closeness and integrity, a solid foundation for an honest, affordable and true life.</h6>
            </div>
            <div class="About_Mid-Conten col-12 col-md-4">
                <img src="~/Content/Img/Genneral/About_Img2.png">
                <h5>Happy</h5>
                <h6>We are approachable, lovable and energetic, always bringing joy to those around us.</h6>
            </div>
            <div class="About_Mid-Conten col-12 col-md-4">
                <img src="~/Content/Img/Genneral/About_Img3.png">
                <h5>Unite</h5>
                <h6>We love spending time together just like enjoying online shopping with family and friends - doing the things we love together as one big family.</h6>
            </div>
        </div>
        <div id="About_Ourjourney" class="About_Bot row">
            <div class="col-8 offset-2">
                <h3>Our journey</h3>
                <ul>
                    <li>
                        <h5>First launched in May 2010 after months of ideation</h5>
                        <p>With only 5 employees and 1 manager, we have started the work of bringing the future of light technology to every family in the area.</p>
                    </li>
                    <li>
                        <h5>2012: Open 2nd branch</h5>
                        <p>After 2 years, we have expanded our sales, bringing the BrightWorld name to more customers.</p>
                    </li>
                    <li>
                        <h5>One year layter: 3rd branch opened in cooperation with the brand</h5>
                        <p>For the first time: we have dedicated space for brands in our store</p>
                    </li>
                    <li>
                        <h5>7 years since establishment</h5>
                        <p>We are confident to be one of the leading organizations in the industry with a wide retail network, trust from customers and cooperation.</p>
                    </li>
                    <li>
                        <h5>In 2020 Technologyize the sales system and go to foreign markets</h5>
                        <p>With such experience and achievements we decided to challenge ourselves in other markets.</p>
                    </li>
                    <li>
                        <h5>From present to future</h5>
                        <p>We will constantly develop with faith and hope to be nurtured every day to bring the best values to society.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <img class="About_Banner" src="~/Content/Img/Genneral/About_Img_Bot.jpg">
    <div class="container">
        <div class="About_Contact row">
            <div class="About_Contact-Header col-12">
                <h4>If you have any problems, please contact us</h4>
            </div>
            <div class="About_Contact-Conten col-12 col-sm-6 col-md-4 offset-md-2">
                <div>
                    <h5>You can send mail to the address:</h5>
                    <a href="mailto:hello@brightworld.com">
                        <p>hello@brightworld.com</p>
                    </a>
                </div>
                <div>
                    <h5>Call the phone number:</h5>
                    <a href="tel:+(00)123456789">
                        <p>+(00)123 456 789</p>
                    </a>
                    <a href="tel:+(01)147258369">
                        <p>+(01)147 258 369</p>
                    </a>
                </div>
            </div>
            <div class="About_Contact-Conten col-12 col-sm-6 col-md-4">
                <h5>Or meet us at our office at:</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.3212264994586!2d107.57921765092622!3d16.459264433181957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a149ef807aed%3A0x4eb6bafb31d4c653!2zSHXhur8gQXB0ZWNo!5e0!3m2!1svi!2s!4v1625628193806!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</main>
