.Conten {
	position: relative;
	background-color: var(--light3_color);
	box-shadow: 2px 2px 5px var(--dark1-01_color);
	margin-top: -5px;
	margin-bottom: 20px;
}

.Product_Banner {
	width: 100vw;
	position: absolute;
}

/*Filter Search*/
	.Overlay_Classify {
		margin: 0;
        display: none;
        position: fixed;
        z-index: 126;
        top: 0; bottom: 0; left: 0; right: 0;
        animation: fadein linear 0.3s;
	}

	.Classify {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 130;
        background-color: var(--light3_color);
        transform: translateX(-200%);
        transition: all linear 0.5s;
        box-shadow: 4px 0px 8px var(--dark1-03_shadow);
        overflow-y: auto;
        max-width: 173px;
        border-radius: 3px;
        padding-top: 5px;
        font-weight: 500;
	}

	.Classify::-webkit-scrollbar {
		display: none;
	}

	.Classify_Header {
		cursor: default;
	}

	.ApplyButton {
		width: 90%;
		border: solid var(--blue2_color) 2px;
		color: var(--blue2_color);
		font-weight: 500;
		margin-top: -2px;
		margin-left: 5%;
	}

	.ApplyButton:hover {
		color: var(--light1_color);
		background-color: var(--blue2_color);
		border-color: var(--blue2_color);
	}

	.Classify_Conten {

	}

	.Classify_Conten-Header {
		padding-top: 5px;
		border-top: solid var(--dark4_color) 2px;
		cursor: default;
	}

	.Classify_Conten-Header h5 {

	}

	.Classify_Conten-List {
		direction: flex;
		flex-direction: column;
		margin-bottom: 5px;
		padding-bottom: 10px;
	}

	.Classify_Conten-Item {
		padding: 2px 0;
		-webkit-user-select: none;
	}

	#Price {
		width: 100%;
	}

	.Show_Value {
		display: flex;
		justify-content: space-between;
	}

	.Show_Value p {
		margin-bottom: 0;
	}

	.Show_Value p:last-child {

	}

/*List Products*/
	.Products {
		min-height: 1000px;
	}

	.Products_Header {
		position: absolute;
		z-index: 1;
		display: flex;
		background-color: var(--light3_color);
		border-radius: 3px;
		padding: 5px 0;
		padding-left: 25px;
	}

	.Products_Header-FilterIcon {
		margin-right: 25px;
		margin-top: 5px;
		color: var(--blue1_color);
	}

	.Products_Header-Sorted {
		display: flex;
		margin-left: 10px;
		padding-top: 4px;
	}

	.Products_Header-Sorted h5 {
		cursor: default;
	}

	.Products_Header-SortedList {
		display: flex;
	}

	.Products_Header-SortedItem {
		text-align: center;
		margin: 0 5px;
	}

	#Layout, #Sort {
		color: var(--blue1_color);
		background-color: var(--light3_color);
		border-radius: 2px;
		border: none;
		margin-top: 3px;
		font-weight: 500;
		cursor: pointer;
	}

	#Layout option, #Sort option {
		color: var(--blue2_color);
		font-weight: 500;
		margin-bottom: 5px;
		padding-left: 15px;
	}

	#Layout option:first-child, #Sort option:first-child {
		color: var(--dark3_color);
		font-weight: 500;
	}

	.Products_Header-SortedItem h5 {
		margin-bottom: 0;
	}

	.ShowMore_Products {
		margin-top: 8px;
		width: 100%;
		margin-bottom: 25px;
	}
	.ShowMore_Products div {
		width: 26%;
		margin: 8px 37%;
	}

	/*Product*/

		.Product {

		}

		.Product h6 {
			width: 100%;
			min-height: 20px;
			color: var(--dark1_color);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: 500;
		}

		.Product_Describe {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.Product_Describe p {
			color: var(--dark3_color);
			margin-bottom: 2px;
			font-weight: 500;
			font-size: 14px;
			width: 65%;
		}

		.Ra_Value, .Pri_Value {
			text-align: right;
			width: 35% !important;
		}

		.Pri_Value {
			font-size: 16px !important;
			color: var(--red1_color) !important;
		}

		.Product_Button {
			width: 100%;
			margin: 8px auto;
			display: flex;
		}

		.AddButton, .BuyButton {
			border-width: 2px;
			box-shadow: none;
			font-size: 14px;
			font-weight: 500;
			width: 48%;
		}

		.BuyButton {
			margin-left: 4%;
		}
/*General*/

	.Popup {
		position: fixed;
		bottom: 120px;
		right: 20px;
		display: none;
	}

	.Popup h5 {
		margin-bottom: 0;
	}

	.FixBug_ProHeader-Footer{
		position: absolute !important;
		top: 0 !important;
	}

	@media (min-width: 992px) {

		.reset_posi {
			position: absolute;
			top: unset;
			bottom: unset;
			left: unset;
			transform: unset;
			z-index: 0;
			box-shadow: unset;
		}

		.FixBug_Class-Footer {
			position: absolute !important;
			bottom: 180px !important;
		}

		.only-lg {
	        margin-left: 10px;
	        padding-right: 10px;
		}

	@media (min-width: 1200px) {

		.FixBug_Class-Footer {
			position: absolute !important;
			bottom: 120px !important;
		}

		.FixBug_ProHeader-Footer{
			position: absolute !important;
			top: 0 !important;
		}

		.only-lg {
		margin-left: -20px;
      }
	}