@{
    ViewBag.Title = "Bright World | Support";
}

<link href="~/Content/Css_Js/Css/Support.css" rel="stylesheet"/>

<main class="main_padding">
    <div class="container">
        <div class="row Conten">
            <!-- Header -->
            <div class="col-12 Conten_Header">
                <img src="../Img/General/BgSupport.jpg">
                <div class="Conten_Header-SearchBox">
                    <input type="text" name="" placeholder="What can we do for you?">
                    <div class="btn btn-primary"><i class="fas fa-search"></i></div>
                </div>
            </div>
            <!-- FAQ -->
            <div id="FAQ" class="col-12 Conten_FAQ">
                <div class="row">
                    <div class="Conten_FAQ-Header col-12">
                        <h3>Frequently Ask Question</h3>
                        <h6>Ask your question or meet</h6>
                    </div>
                    <!-- Question -->
                    <ul class="Conten_FAQ-Question col-12 col-md-6">
                        <li data-type="1">
                            <h6>Do LEDs emit ultraviolet or infrared light? <i class="fas fa-chevron-down fa-xs"></i></h6>
                            <p>No, LEDs do not emit ultraviolet (UV) or infrared light.</p>
                        </li>
                        <li data-type="2">
                            <h6>Do LEDs contain mercury? <i class="fas fa-chevron-down fa-xs"></i></h6>
                            <p>No, LEDs do not contain mercury.</p>
                        </li>
                        <li data-type="3">
                            <h6>Can I use an LED with a dimmer switch? <i class="fas fa-chevron-down fa-xs"></i></h6>
                            <p>Not all LEDs can be used with dimmer switches, so make sure you check with the manufacturer to see if your LED is compatible with dimming circuits.</p>
                        </li>
                        <li data-type="4">
                            <h6>How is the average rated life of LED light bulbs calculated? <i class="fas fa-chevron-down fa-xs"></i></h6>
                            <p>While an LED can generate light for up to 100,000 hours, its lumen output gradually decreases over time. The industry standard is to provide a life rating that is the point at which the lumen maintenance is 70%. In other words, the average rated life for an LED tells you how many hours the LED will last and maintain at least 70% of its initial lumen output. This is different from how the average rated life is determined for other light sources (incandescent, halogen, fluorescent, etc.). Other light sources measure the average rated life as the point at which 50% of the bulbs tested have failed and 50% of the bulbs tested are still burning. LED light bulbs measure the point at which they provide 70% of initial lumens because LEDs fade over time, and this rating gives end users an idea of how long the LEDs will provide useable light that meets the needs of the application.</p>
                        </li>
                    </ul>
                    <ul class="Conten_FAQ-Question col-12 col-md-6">
                        <li data-type="5">
                            <h6>What are the benefits of LED lighting? <i class="fas fa-chevron-down fa-xs"></i></h6>
                            <p>LED light bulbs have many benefits. Compared to incandescent and halogen light bulbs, LEDs can provide tremendous energy savings, and their long life can provide even more savings in maintenance and replacement costs. Compared to fluorescent lighting, LED is able to provide more controlled, focused beams of light and better dimmability. It is also considered to be more environmentally friendly because it has longer life and does not contain any mercury. It also does not require warm-up time; LED light bulbs turn on instantly with full brightness when the light switch is flipped.</p>
                        </li>
                        <li data-type="6">
                            <h6>How are LEDs different from other light bulbs like incandescent and CFLs? <i class="fas fa-chevron-down fa-xs"></i></h6>
                            <p>LED light bulbs are much more energy efficient than incandescent light bulbs, reducing energy consumption by up to 85%. Compared to compact fluorescent bulbs, LEDs are fairly comparable in terms of energy savings. LED’s major advantages over CFLs are the ability to provide a controlled beam of light for reflector applications and its dimmability. LED’s long life of up to 50,000 hours is much longer than both incandescent and fluorescent bulbs, which helps reduce maintenance and replacement costs.</p>
                        </li>
                        <li data-type="7">
                            <h6>What is a heat sink? <i class="fas fa-chevron-down fa-xs"></i></h6>
                            <p>A heat sink is a conductor specially designed to dissipate heat. They are used in LEDs because they are very heat sensitive. As the LEDs generate light, they also give off some heat. When several LEDs are next to each other in a bulb, heat builds up and can lower the LEDs’ performance. A heat sink dissipates the heat to keep the LEDs performing optimally.</p>
                        </li>
                        <li data-type="8">
                            <h6>What is an LED? <i class="fas fa-chevron-down fa-xs"></i></h6>
                            <p>LED stands for light emitting diode, which is a semiconductor device that emits visible light when electrical current passes through it.</p>
                        </li>
                    </ul>
                    <!-- Contact -->
                    <div class="Conten_FAQ-Contact col-12">
                        <h5>You can't find the answer?</h5>
                        <h6>please feel free to leave a contact for us to answer</h6>
                        <div class="Conten_FAQ-ContactMail">
                            <input type="email" name="" placeholder="Your Mail Address">
                            <div class="btn btn-primary"><i class="fas fa-arrow-right"></i></div>
                        </div>
                        <h6>or contact the email address:</h6>
                        <a href="mailto:hello@brightworld.com"><h6>hello@brightworld.com</h6></a>
                    </div>
                </div>
            </div>
        </div>
</main>
