@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Css_Js/Css/Home.css" rel="stylesheet"/>
<!-- Conten -->
<main class="main_padding">
    <div class="container">
        <div class="Top_Conten row">
            <!-- Banner -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="Img/General/Banner_1.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="Img/General/Banner_2.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="Img/General/Banner_3.png" alt="Third slide">
                    </div>
                </div>
            </div>
            <!-- Card Reader Top -->
            <div class="CardReader row">
                <div class="CardReader_Item col-4 col-sm-pd25">
                    <img src="Img/General/Ship_Img.png"></img>
                    <h5 class="none col-lg-show">Free Express Delivery For Order Over 50$</h5>
                    <h6 class="col-lg-hide">Order 50$ Free Shipping</h6>
                    <p class="none col-sm-show">Fast shipping in <b>2 hours</b> in the inner city and <b>3-5 days</b> in other places</p>
                </div>
                <div class="CardReader_Item col-4 col-sm-pd25">
                    <img src="Img/General/Discount_Img.png">
                    <h5 class="none col-lg-show">Off 5% For Order Over 200$ And More</h5>
                    <h6 class="col-lg-hide">Order 200$ Discount 5%</h6>
                    <p class="none col-sm-show">The higher the order value, the bigger the discount, <b>up to 15%</b></p>
                </div>
                <div class="CardReader_Item col-4 col-sm-pd25">
                    <img src="Img/General/Installation_Img.png">
                    <h5 class="none col-lg-show">Support Free Installation At Home 24/7</h5>
                    <h6 class="col-lg-hide">Installation Service 24/7</h6>
                    <p class="none col-sm-show">We have <b>nationwide installation</b> service 24/7 operation</p>
                </div>
            </div>
        </div>
        <!-- Classify -->
        <div class="List row">
            <div class="List_Header col-12">
                <h4>See our product:</h4>
            </div>
            <div class="List_Conten col-12">
                <ul class="List_Conten-List">
                    <li class="List_Conten-Item">
                        <a href="Htmls/Products.html?br=0&cl=1">
                            <img src="Img/Classify/Led_Bulb.png">
                            <h6>Bulbs</h6>
                        </a>
                    </li>
                    <li class="List_Conten-Item">
                        <a href="Htmls/Products.html?br=0&cl=2">
                            <img src="Img/Classify/LED_Tube.png">
                            <h6>Tube</h6>
                        </a>
                    </li>
                    <li class="List_Conten-Item">
                        <a href="Htmls/Products.html?br=0&cl=3">
                            <img src="Img/Classify/LED_Decoration.png">
                            <h6>Decoration</h6>
                        </a>
                    </li>
                    <li class="List_Conten-Item">
                        <a href="Htmls/Products.html?br=0&cl=4">
                            <img src="Img/Classify/LED_Spotlight.png">
                            <h6>Spotlight</h6>
                        </a>
                    </li>
                    <li class="List_Conten-Item">
                        <a href="Htmls/Products.html?br=0&cl=5">
                            <img src="Img/Classify/LED_Outdoor.png">
                            <h6>Outdoor</h6>
                        </a>
                    </li>
                    <li class="List_Conten-Item">
                        <a href="Htmls/Products.html?br=0&cl=6">
                            <img src="Img/Classify/LED_Panel.png">
                            <h6>Panel</h6>
                        </a>
                    </li>
                    <li class="List_Conten-Item">
                        <a href="Htmls/Products.html?br=0&cl=7">
                            <img src="Img/Classify/LED_Street.png">
                            <h6>Street</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="SeeAllButton btn" href="Htmls/Products.html?cl=0">See All Products</a>
        </div>
        <!-- Featured -->
        <div class="BotConten row">
            <div class="Featured col-12">
                <div class="row">
                    <div class="Featuerd_Banner col-12">
                        <div class="Featuerd_Banner-Header">
                            <h3>Our Featured Products</h3>
                        </div>
                        <div class="Featuerd_Banner-Conten row">
                            <div class="Featuerd_Banner-Item col-6 col-sm-6">
                                <img src="Img/General/600x300_1.png">
                                <div class="Featuerd_Banner-ItemConten">
                                    <h3 class="col-hide col-sm-show">Indoor light</h3>
                                    <h6 class="col-hide col-lg-block">Adaptive light technology<br>helps protect every family member</h6>
                                </div>
                            </div>
                            <div class="Featuerd_Banner-Item col-6 col-sm-6">
                                <img src="Img/General/600x300_2.png">
                                <div class="Featuerd_Banner-ItemConten">
                                    <h3 class="col-hide col-sm-show">Public lighting</h3>
                                    <h6 class="col-hide col-lg-block">High intensity light makes<br>the light area wider in large spaces</h6>
                                </div>
                            </div>
                            <div class="Featuerd_Banner-Item col-12">
                                <img src="Img/General/1200x300.png">
                                <div class="Featuerd_Banner-ItemConten Item-3">
                                    <h2 class="col-hide col-md-show">Along With Many<br>Other Products</h2>
                                    <h4 class="col-hide col-md-hide col-sm-show">Along With Many<br>Other Products</h4>
                                    <h6 class="col-sm-hide">Along With Many<br>Other Products</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- List Most Bought -->
            <div class="List List_Bottom col-12">
                <div class="row">
                    <div class="List_Header col-12">
                        <h4>Featured Bought:</h4>
                    </div>
                    <div class="List_Conten col-12">
                        <ul class="List_Conten-List">
                            <li class="List_Conten-Item">
                                <a href="Htmls/ProductDetail.html?id=12">
                                    <img class="Product-Item" src="Img/Product/co-06.png">
                                    <h6>Led Bulb Comet</h6>
                                </a>
                            </li>
                            <li class="List_Conten-Item">
                                <a href="Htmls/ProductDetail.html?id=16">
                                    <img class="Product-Item" src="Img/Product/rd-11.png">
                                    <h6>Led Tube Light Rang Dong</h6>
                                </a>
                            </li>
                            <li class="List_Conten-Item">
                                <a href="Htmls/ProductDetail.html?id=33">
                                    <img class="Product-Item" src="Img/Product/rd-24.png">
                                    <h6>Led String Lights Rang Dong</h6>
                                </a>
                            </li>
                            <li class="List_Conten-Item">
                                <a href="Htmls/ProductDetail.html?id=36">
                                    <img class="Product-Item" src="Img/Product/pl-15.png">
                                    <h6>Led String Lights Philips</h6>
                                </a>
                            </li>
                            <li class="List_Conten-Item">
                                <a href="Htmls/ProductDetail.html?id=4">
                                    <img class="Product-Item" src="Img/Product/pl-01.png">
                                    <h6>Led Bulb Philips</h6>
                                </a>
                            </li>
                            <li class="List_Conten-Item">
                                <a href="Htmls/ProductDetail.html?id=6">
                                    <img class="Product-Item" src="Img/Product/pl-05.png">
                                    <h6>Leb Bulb Philips TForce</h6>
                                </a>
                            </li>
                            <li class="List_Conten-Item">
                                <a href="Htmls/ProductDetail.html?id=2">
                                    <img class="Product-Item" src="Img/Product/rd-04.png">
                                    <h6>Led Bulb 40W Rang Dong</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="SeeAllButton btn" href="Htmls/Products.html?br=0">See More</a>
                </div>
            </div>
        </div>
</main>