/*General*/

  /*::-webkit-scrollbar { 
      display: none; 
  }*/

  :root {
    --blue1_color: rgb(0, 127, 255);
    --blue1-01_color: rgba(0, 123, 255, 0.1);
    --blue2_color: #0CB4E8;
    --blue3_color: #e6f2ff;
    --red1_color: #ff3545;
    --light1_color: #ffffff;
    --light2_color: #ddd;
    --light3_color: rgb(239, 239, 239);
    --dark1_color: #000000;
    --dark1-01_color: rgba(0, 0, 0, 0.1);
    --dark1-03_color: rgba(0, 0, 0, 0.3);
    --dark2_color: #333333;
    --dark3_color: #666666;
    --dark4_color: #999999;
  }

  * {
    outline: none;
  }

  html {
    scroll-behavior: smooth;
  }

  main {
    position: relative;
    background-color: var(--light2_color);
    color: var(--dark2_color);
    padding-bottom: 25px;
  }
  
  button, .btn {
    min-width: 50px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px var(--dark1-03_color);
  }

  input {
    background-color: var(--light3_color) !important;
  }

  input:focus {
    background-color: var(--blue3_color) !important;
  }

  a:hover {
  	text-decoration: none;
  }

  label {
    margin: 0;
  }

  ul {
    margin-bottom: 0;
    padding: 0;
  }

  li {
    list-style: none;
    text-overflow: hide;
  }

  p {

  }

  div {
    border-radius: 2px;
  }

/*Header*/

  header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: var(--blue1_color);
  }

  header hr {
    margin: 5px 0 -5px 0;
  }

  /*Header Info*/

    .Header_Info {
    	display: flex;
    	justify-content: space-between;
      padding: 0 5px;
    }

    .Header_Info-List {
      display: flex;
      justify-content: space-around;
    }

    .Header_Info-Item {
      cursor: pointer;
    }

    .Header_Info-Item a  {
      color: #fff !important;
    }

    .DarkMode_btn {
      color: var(--light1_color);
      cursor: default;
    }

    .Header_Info-Item p {
      display: inline-block;
      font-weight: 500;
      margin-bottom: 0;
      color: var(--light1_color);
    }

  /*Header Nav Bar*/

    .Header_Nav {
    padding: 5px 0;
    }

    .Header_Nav-Logo img{
      width: 100%;
      min-height: 30px;
      max-width: 200px;
    }

    .Header_Nav-SearchBar {
      display: flex;
      width: 100%;
      align-items: center;
    }

    .Header_Nav-SearchBox {
      border: none;
      border-radius: 2px;
      box-shadow: -1px 2px 4px var(--dark1-03_color);
      margin-right: -2px;
    }

    .Header_Nav-SearchButton {
      width: 50px;
      margin-left: -2px;
      background-color: #004680;
      border-color: #004680;
    }

    .Header_Nav-Link {

    }

    .Header_Nav-LinkList {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }

    .Header_Nav-LinkItem {
      padding: 0;
    }

    .Header_Nav-LinkItem a {
      line-height: 30px;
      margin-bottom: 3px;
      padding: 0 8px;
      font-size: 20px;
      font-weight: bold;
      color: var(--light1_color);
    }

    .Header_Nav-LinkItem a:hover {
      margin-bottom: 0;
    }

    .Header_Nav-LinkItem a:hover ~ .Header_Nav-LinkFoot {
      border-bottom: solid var(--light1_color) 3px;
      animation: scaleX linear 0.2s;
    }

    .Header_NavButton {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .Header_NavButton-List {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    .Header-MenuBtn {
      position: relative;
    }

    .Header_NavButton-Item {

    }

    .Header_NavButton-Item a {
      color: var(--light1_color);
    }

    /*Menu Button*/

      .Header_NavMb-Link {
        width: 200px;
      }

      .Header_NavMb-LinkList {

      }

      .Header_NavMb-LinkItem {
        text-align: left;
        margin-left: 10%;
        font-weight: bold;
        font-size: 20px;
        border-bottom: solid var(--dark4_color) 2px;
        padding: 10px 0;
      }

    /*Cart Button*/

      .Header_NavMb-Cart {
        width: 350px;
        height: 100%;
        min-width: 25%;  
        overflow: hidden;
      }

      .Header_NavMb-Cart h6 {
        text-align: center;
        color: var(--dark4_color);
      }

      .Header_NavMb-Cart h4 {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        color: #007bff;
        font-weight: bold;
        text-align: center;
        border-bottom: solid var(--blue1_color) 2px;
      }

      .Header_NavMb-CartBox {
        max-height: 60%;
        background-color: var(--light1_color);
        overflow: auto;
      }

      .Header_NavMb-CartList {


      }

      .Header_NavMb-CartItem {
        width: 100%;
        padding: 15px 0;
        padding-right: 10px;
        border-bottom: solid var(--dark4_color) 2px;
      }

      .Header_NavMb-CartItem:hover {
        background-color: var(--blue3_color);
      }

      .Header_NavMb-CartItem a {
        display: flex;
      }

      .Header_NavMb-CartItem img {
        width: 80px; height: 80px;
        margin: auto 10px;
        border: solid var(--light2_color) 2px;
      }

      .Header_NavMb-CartItem div {
        width: calc(100% - 100px);
      }

      .Header_NavMb-CartItem div h6 {
        margin-bottom: 2px;
        margin-top: 5px;
        color: var(--dark1_color);
        font-size: 18px;
        width: 100%;
        min-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
      }

      .Header_NavMb-CartItem div span {
        color: var(--dark3_color);
      }

      .Header_NavMb-CartItem div p {
        color: var(--red1_color);
        font-weight: 500;
        margin-bottom: 0;
      }

      .Header_NavMb-CartShow {
        text-align: center;
        margin: 15px 0;
      }

      .Header_NavMb-CartShow a {
        width: 200px;
        font-weight: 500;
        font-size: 18px;
      }

    /*Account Button*/

      .Header_NavMb-Account {
        width: 200px;
        max-height: 100hw;
        min-width: 20%;
      }

      .Header_NavMb-AccountList {
      }

      .Header_NavMb-AccountItem {
        text-align: center;
        padding: 15px 0;
        border-bottom: solid var(--dark4_color) 2px;
      }

      .Header_NavMb-AccountItem h6 {
        max-width: 80%;
        margin-left: auto; margin-right: auto;
        padding: 0;
        color: var(--dark3_color);
      }

      .Header_NavMb-AccountItem a {
        width: 125px;
        font-weight: 500;
        font-size: 16px;
      }

      .Header_NavMb-AccountItem div {
        width: 80%;
        margin: 0 auto;
      }

      .Header_NavMb-AccountItem div input {
        margin-right: -2px;
        box-shadow: -1px 2px 4px var(--dark1-03_color);
      }

      .Header_NavMb-AccountItem:last-child {
        border-bottom: none;
      }

  /*Form

    /*Form General*/

      .Form {
        display: none;
        margin: 0;
        position: fixed;
        z-index: 200;
        top: 0; bottom: 0; left: 0; right: 0;
        background-color: var(--dark1-03_color);
        animation: fadein linear 0.3s;
      }

      .Form_Bg {
        background-color: var(--light1_color);
        position: relative;
        z-index: 201;
        margin: auto;
        border-radius: 5px;
        display: block;
        width: 425px;
        max-width: 85vw;
        min-height: 320px;
      }

      .Form_Bg-CloseButton {
        color: var(--dark4_color);
        position: absolute;
        right: 8px;
      }

      .Form_Bg-CloseButton:hover {
        color: var(--dark1_color);
        cursor: pointer;
      }

      .Form_Header {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: space-around;
      }

      .Form_Header h3 {
        min-width: 133px;
        padding: 5px 15px;
        text-align: center;
        color: var(--dark3_color);
        cursor: pointer;
      }

      .Form_Header-Foot {
        width: 80%;
        margin: 0 auto;
      }

      .Form_Header-FootItem {
        border-bottom: solid var(--blue1_color) 3px;
        width: 40%;
        max-width: 133px;
        margin: 0 auto;
        transition: transform linear 0.4s;
      }

  /*Log In*/

    .Form_LogIn {
      display: none;

    }

    .Form_LogIn-Conten {
      width: 100%;
    }

    .Form_LogIn-ContenUser, .Form_LogIn-ContenPass {
      width: 90%;
      margin: 10px auto;
    }

    .Form_LogIn-ContenDescribe {
      font-weight: 500;
      width: 85%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      -webkit-user-select: none;
    }

    .RememberPass_check {
      width: 20px;
      height: 20px;
      padding: 2px;
      margin-bottom: -5px;
      border: solid var(--dark2_color) 2px;
      border-radius: 20px;
    }

    .RememberPass_label {
      color: var(--dark2_color);
    }

    #RememberPass:checked ~ .RememberPass_label {
      color: var(--blue1_color);
    }

    #RememberPass:checked ~ .RememberPass_check {
      background-clip: content-box;
      background-color: var(--blue1_color);
      border-color: var(--blue1_color);
    }

    .Form_LogIn-ContenLogInBtn {
      display: flex;
      justify-content: center;
    }

    .Form_LogIn-ContenLogInBtn button {
      margin: 10px;
      min-width: 100px;
      font-weight: 600;
    }

    .Form_LogIn-ContenOther {
      display: flex;
      justify-content: space-around;
    }

    .OtherFacebook {
      text-align: center;
      margin: 10px 0;
      padding: 5px 10px;
      background-color: #1E90FF;
    }

    .OtherGoogle {
      text-align: center;
      margin: 10px 0;
      padding: 5px 10px;
      background-color: #dc3545;
    }

    .OtherFacebook a, .OtherGoogle a {
      color: #fff;
    }

  /*Regis*/

    .Form_Regis {
      display: none;
    }

    .Form_Regis-Conten {
      width: 100%;
    }

    .Form_Regis-ContenName {
      display: flex;
      justify-content: space-around;
    }

    .Form_Regis-ContenName input:first-child {
      margin-right: 5px;
    }

    .Form_Regis-ContenName input:last-child {
      margin-left: 5px;
    }

    .Agreement p {
      font-size: 12px;
      color: var(--dark3_color);
      text-align: center;
      margin: 0 15px;
    }

    .Form_Regis-ContenUser, .Form_Regis-ContenPass, .Form_Regis-ContenName {
      width: 90%;
      margin: 10px auto;
    }

    .Form_Regis-ContenRegisBtn {
      display: flex;
      justify-content: center;
    }

    .Form_Regis-ContenRegisBtn button {
      margin: 10px;
      min-width: 100px;
      font-weight: 600;
    }

  /*Header General*/

      .Header_NavMb-Link, .Header_NavMb-Cart, .Header_NavMb-Account {
        position: fixed;
        z-index: 150;
        top: 0; bottom: 0; right: 0;
        max-width: 85%;
        background-color: #fff;
        box-shadow: -4px 0px 8px var(--dark1-03_color);
        transform: translateX(100%);
        transition: all linear 0.3s;
        opacity: 0;
        background-color: var(--light1_color);
      }

      .Overlay, .Overlay_Form {
        margin: 0;
        display: none;
        position: fixed;
        z-index: 149;
        top: 0; bottom: 0; left: 0; right: 0;
        background-color: var(--dark1-03_color);
        animation: fadein linear 0.3s;
      }

      .Header_Info-List, .Header_Nav-LinkList, .Header_NavButton-List {
      	padding-left: 0;
      }

      .Header_Info-Item, .Header_NavButton-Item {
      	display: inline-block;
      	padding: 0 10px;
      }

      .Header_NavMb-Bg {
        background-image: url(Img/Logo/Bg_Nav.png);
      }

/*Footer*/

  footer {
    z-index: 150;
    background-color: var(--blue3_color);
    color: var(--dark2_color);
    padding-bottom: 100px;
    width: 100%;
  }

  .Footer {

  }

  .Footer p {
    color: var(--dark3_color);
  }

  /*Footer Brand*/

    .Footer_Brand {

    }

    .Footer_Brand-Header {

    }

    .Footer_Brand-Conten {

    }

    .Footer_Brand-ContenList {

    }

    .Footer_Brand-ContenItem {

    }

  /*Footer Support*/

    .Footer_Support {

    }

    .Footer_Support-Header {

    }

    .Footer_Support-Conten {

    }

    .Footer_Support-ContenList {

    }

    .Footer_Support-ContenItem {

    }

    .Footer_Support-ContenItem img {
        width: 80%;
    }

  /*Footer About*/

    .Footer_About {

    }

    .Footer_About-Header {

    }

    .Footer_About-Conten {

    }

    .Footer_About-ContenList {

    }

    .Footer_About-ContenItem {

    }

  /*Connect*/

    .Footer_Connect {

    }

    .Footer_Connect-Conten {

    }

    .Footer_Connect-ContenList {
    }

    .Footer_Connect-ContenItem {
      display: block;
      flex-wrap: wrap;
      margin-bottom: 16px;
    }

    .Footer_Connect-ContenItem div {
      display: flex;
    }

    .Footer_Connect-ContenItem h5 {
      margin-bottom: 0;
      margin: 0 0 8px 8px;
    }

    .Footer_Connect-ContenItem a {
      display: block;
      width: 100%;
      margin-bottom: 0;
      color: var(--dark2_color);
    }

    .Footer_Connect-ContenItem a p {
      margin-bottom: 0;
    }

    .Footer_Connect-ContenItemSocialList {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

  /*Footer General*/

  .Footer_Brand, .Footer_Support, .Footer_About, .Footer_Connect {
    margin-top: 24px;
    max-height: 350px;
  }

/*Scroll Top Button*/

  .ScrollTop {
    position: fixed;
    z-index: 110;
    bottom: 40px;
    right: 20px;
    transform: translateX(150%);
    transition: all linear 0.3s;
  }

  #ScrollTop {
    color: var(--light1_color);
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: var(--dark3_color);
    border-radius: 2px;
  }

  #ScrollTop:hover {
    cursor: pointer;
  }

/*Scrip Class*/

    .shadow_none {
      box-shadow: none;
    }

    .shadow_bot {
    box-shadow: 0px 2px 5px var(--dark1-03_color) !important;
    }

    .header-100 {
      transform: translateY(-100%) !important;
      opacity: 1 !important;
    }

    .transY_0 {
      transform: translateY(0px) !important;
      opacity: 1 !important;
    }

    .transX_0 {
      transform: translateX(0%) !important;
      opacity: 1 !important;
    }

    .transi {
      transition: all linear 0.5s !important;
    }

    .translateX_left {
      transform: translateX(-80%) !important;
    }

    .translateX_right {
      transform: translateX(80%) !important;
    }

    .blue1_color {
      color: var(--blue1_color) !important;
    }

    .none {
      display: none !important;
    }

    .block {
      display: block !important;
    }

    .flex {
      display: flex !important;
    }

    .fixed {
      position: fixed !important;
    }

    .relative {
      position: relative !important;
    }

    .main_padding {
      padding-top: 90px;
    }

    .Product_Header-FixedTop {
      position: fixed !important;
      top: 0 !important;
    }

    .Product_Header-ScrolDown {
      transform: translateY(75px)!important;
    }

/*Key Frames*/
  @keyframes scaleX {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes up {
    from {
      top: 0px;
    }
    to {
      top: -100%;
    }
  }

  @keyframes down {
    from {
      top: -100%;
    }
    to {
      top: 0px;
    }
  }

/*Media Query*/
  /*smartphone*/

    .col-hide {
      display: none !important;
    }

    .offset-top {
      height: 80px;
      padding: 0;
      margin: 0;
    }
  
  /*tablet*/

    @media (min-width: 576px) {

      .max_width-Products_Header {
        max-width: 540px;
      }

      .main_padding {
        padding-top: 55px;
      }

      .col-sm-hide {
        display: none !important;
      }

      .col-sm-show {
        display: block !important;
      }

      .col-sm-pd25 {
        padding: 25px;
      }

      .offset-top {
        height: 120px;
      }

      .Product_Header-ScrolDown {
        transform: translateY(45px)!important;
      }
    }

    @media (min-width: 768px) {

      .max_width-Products_Header {
        max-width: 720px;
      }

      .main_padding {
        padding-top: 65px;
      }

      .Footer_Connect-ContenItem div h5 {
        display: inline-block !important;
      }

      .col-md-hide {
        display: none !important;
      }

      .col-md-show {
        display: block !important;
      }

      .margin-md-15 {
        margin: 15px !important;
      }

      .posi-md-rela {
        position: relative !important;
      }

      .offset-top {
        height: 170px;
      }

      .Product_Header-ScrolDown {
        transform: translateY(60px)!important;
      }
    }

  /*compiter*/

    @media (min-width: 992px) {

      .col-lg-block {
        display: block !important;
      }

      .fixed-lg {
        position: fixed;
      }

      .top-lg-5 {
        top: 5px !important;
      }

      .max_width-Products_Header {
        max-width: 775px;
        margin-bottom: 5px;
      }

      .main_padding {
        padding-top: 105px;
      }

      .col-lg-hide {
        display: none !important;
      }

      .col-lg-show {
        display: flex !important;
      }

      .offset-top {
        height: 210px;
      }

      .Product_Header-ScrolDown {
        transform: translateY(100px)!important;
      }

      .Cart_Height {
        min-height: 725px;
      }
    }

    @media (min-width: 1200px) {

      html {
        font-size: 18px;
      }

      .main_padding {
        padding-top: 110px;
      }

      .max_width-Products_Header {
        max-width: 955px;
      }

      .marginTop-lg-25 {
        margin-top: 25px !important;
      }

      .offset-top {
        height: 250px;
      }

      .Cart_Height {
        min-height: 780px;
      }
    }